{% extends "base.html" %}

{% block content %}
<div class="border round">
  <div>
    <h1 class="my-5">{{ workout.title }}</h1>
    <a href="{% url 'workouts_edit' workout.id %}" class="btn btn-primary edit-btn">Edit</a>
    <a href="{% url 'workouts_delete' pk=workout.id %}" class="btn btn-danger del-btn">Delete</a>
  </div>

    {% for exercise in workout.exercise_set.all %}
    <div class="exercise-details border round">
      <h2>{{ exercise.exercise }}</h2>
      <p>{{ exercise.weight }}kg</p>
      <p>{{ exercise.reps }} reps</p>
      <p>{{ exercise.sets }} sets</p>
      <a href="{% url 'exercise_edit' exercise.id %}" class="btn btn-primary edit-btn">Edit</a>
      <a href="{% url 'exercise_delete' pk=exercise.id %}" class="btn btn-danger del-btn">Delete</a>
    </div>
    {% empty %}
      <p>No exercises found.</p>
    {% endfor %}
    
  </div>

  <a href="{% url 'exercise_add' workout.id %}" class="btn btn-primary">Add</a>
  <a href="{% url 'workouts_list' %}" class="btn btn-secondary">Back</a>
{% endblock %}